
.botao{
    width: 30%;
    padding: 16px;
    margin: 25px;
    margin-left: 200px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: #950101;
    cursor: pointer;
    color: white;
    box-shadow: 0px 10px 40px -12px  #3D0000;
}