/* main */
.titulo2{
    padding: 2px;
    text-decoration:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(212, 37, 139);
}

.content{
    height: 650px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 10%;
    left: 0%;
    /* transform: translate(-50%, -50%); */
}

.navegation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar{
    width: 70px;
    height: 17px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

.bar:hover{
    background-color: #fff;
}

input{
    display: none;
}

.slides{
    display: flex;
    width: 500%;
    height: 100%;
}

.slide{
    width: 20%;
    transition: .6s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1{
    margin-left: 0%;
}

#slide2:checked ~ .s1{
    margin-left: -20%;    
}

#slide3:checked ~ .s1{
    margin-left: -40%;    
}

#slide4:checked ~ .s1{
    margin-left: -60%;    
}


